html {
    font-family: inter;
}

*{
    box-sizing: border-box;
}

body {

    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
}

h1 {
    text-align: center;    
}

.centertext {
    text-align: center !important;
}

.maincontent {
    position: relative;
    padding: 50px 30px 30px 30px;
    flex-direction: column;
    width: 390px;
    height: 844px;  
    display: flex;
    justify-content: flex-start;  
    align-items: center;   
}

.d-none{
    display: none;
}

.podcasttext {
    text-align: center;
    padding-top: 100px;
}

#playIcon {
    cursor: pointer;
}

.themestext {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.themetag {
    padding: 5px 15px;
    border: solid 1px black;
    border-radius: 25px;
}

input.checkboxtheme:checked + .themetag{
    background-color: black;
    color: white;
}

input.checkboxtheme:disabled + .themetag{
    background-color: rgb(196, 189, 189);
    color: white;
}

input.checkboxtheme:checked + .themetag::before {
    content: url(/assets/check.svg);
    height: 20px;
    width: 20px;
    filter: invert(1);
    padding-right: 5px;    
}

.logo {
    width: 100%;
    padding: 110px 30px 30px 30px ;
    padding-top: 80px;
    max-width: 390px;
    max-height: 844px;   
}

.tagsbuttons {
    gap: 7px;
    flex-wrap:wrap;
    width: 100%;
    height: 170px;
}

.podcast {
    text-align: left;
    gap: 10px;
}

.buttonreturntothemes {
    padding: 10px 10px;
    border: 1px solid rgb(129, 123, 123);
    border-radius: 25px;
    text-align: center;
    background-color: rgb(129, 123, 123);
    color: white;
    position: absolute;
    max-width: 350px;
    bottom: 40px;
    width: 90%;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}
